.teaser-container .teaser-wrapper {
  /* ===============================
    TITLE
  =============================== */
}

.teaser-container .teaser-wrapper .custom-title {
  text-align: center;
  align-items: center;
  margin-top: 6%;
}

.teaser-container .teaser-wrapper .custom-title h2 {
  font-size: 32px;
  color: #161e39;
  font-weight: bold;
  margin-bottom: 15px;
}

.teaser-container .teaser-wrapper .custom-title p {
  font-size: 16px;
  max-width: 620px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0 22px;
}

.teaser-container .teaser-wrapper {
  /* ===============================
    FEATURE CARD 
  =============================== */
}

.teaser-container .teaser-wrapper .custom-feature-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.teaser-container .teaser-wrapper .custom-feature-cards .custom-feature-card {
  text-align: center;
  padding: 30px 20px;
  position: relative;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  margin: 15px 0 45px;
}

.teaser-container .teaser-wrapper .custom-feature-cards .custom-feature-card .icon {
  position: absolute;
  top: -35px;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #177ee5;
  color: #fff;
  text-align: center;
}

.teaser-container .teaser-wrapper .custom-feature-cards .custom-feature-card__icon {
  width: 32px !important;
  height: 32px !important;
  margin-top: 14px;
}

.teaser-container .teaser-wrapper .custom-feature-cards .custom-feature-card__title {
  font-weight: bold;
  color: #161e39;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.teaser-container .teaser-wrapper .custom-feature-cards .custom-feature-card__description {
  color: #515457;
  font-size: 15px;
  line-height: 26px;
}

.teaser-container .teaser-wrapper {
  /* ===============================
    Experienced Doctors
  =============================== */
}

.teaser-container .teaser-wrapper .custom-experts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px 10px;
  margin: 5% 0 6%;
}

.teaser-container .teaser-wrapper .custom-experts > div {
  display: grid;
  grid-template-columns: 270px 1fr;
  gap: 48px 5px;
}

.teaser-container .teaser-wrapper .custom-experts-image {
  width: 100%;
  height: auto;
  display: block;
}

.teaser-container .teaser-wrapper .custom-experts-content h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 11px;
}

.teaser-container .teaser-wrapper .custom-experts-content-subtitle {
  font-style: italic;
  font-size: 15px;
  color: #888;
  margin-bottom: 20px;
  line-height: 22px;
}

.teaser-container .teaser-wrapper .custom-experts-content-description {
  line-height: 25px;
  font-size: 15px;
  color: #333;
  margin: 25px 0;
  max-width: 300px;
}

.teaser-container .teaser-wrapper .custom-experts-content-button-wrapper {
  margin: 0;
}

.teaser-container .teaser-wrapper .custom-experts-content-button-wrapper .custom-experts-content-button {
  background: none;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #177ee5;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 0;
}

.teaser-container .teaser-wrapper .custom-experts-content-button-wrapper .custom-experts-content-button::before {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("/icons/chevron-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.teaser-container .teaser-wrapper .custom-experts-content-button-wrapper .custom-experts-content-button:hover {
  color: #515457;
}

.about-section {
  background: #f7f9fb;
  padding: 80px 0;
}

.about-section .custom-about {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.about-section .custom-about .custom-about-content {
  grid-column: 1;
  max-width: 637px;
}

.about-section .custom-about .custom-about-content-label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
  color: #161e39;
}

.about-section .custom-about .custom-about-content-title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 15px;
  color: #161e39;
}

.about-section .custom-about .custom-about-content-description {
  font-size: 14px;
  line-height: 26px;
  color: #515457;
}

.about-section .custom-about .custom-about-content .custom-about-content-feature {
  display: grid;
  grid-template-columns: 65px 1fr;
  column-gap: 25px;
  margin: 20px 0 0;
  align-items: start;
}

.about-section .custom-about .custom-about-content .custom-about-content-feature-icon-wrapper {
  width: 65px;
  height: 65px;
  min-width: 65px;
  border: 2px solid #177ee5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-section .custom-about .custom-about-content .custom-about-content-feature-icon-wrapper .icon {
  width: 40px;
  height: 25px;
}

.about-section .custom-about .custom-about-content .custom-about-content-feature-icon-wrapper-icon {
  width: 40px;
  height: 25px;
}

.about-section .custom-about .custom-about-content .custom-about-content-feature .custom-about-content-feature-content -title {
  font-size: 18px;
  font-weight: 700;
  color: #161e39;
  margin: 7px 0 18px;
}

.about-section .custom-about .custom-about-content .custom-about-content-feature .custom-about-content-feature-content-description {
  font-size: 14px;
  color: #515457;
  line-height: 24px;
  margin-bottom: 10px;
}

.about-section .custom-about .custom-about-image {
  grid-column: 2;
}

.about-section .custom-about .custom-about-image-picture {
  width: 100%;
  height: auto;
  display: block;
}

@media (width >= 320px) and (width <= 767px) {
  .custom-feature-cards {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 20px !important;
    padding: 15px;
  }

  .custom-feature-cards .custom-feature-card {
    position: relative;
    margin: 15px 0 30px;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  }

  .custom-feature-cards .custom-feature-card .icon {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 55px;
    height: 55px;
    transform: translateX(-50%);
    border-radius: 50%;
    background: #177ee5;
    color: #fff;
    text-align: center;
  }

  .custom-feature-cards .custom-feature-card__icon {
    width: 30px !important;
    height: 30px !important;
    margin-top: 12px;
  }

  .custom-feature-cards .custom-feature-card__title {
    margin-top: 15px;
    margin-bottom: 12px;
    color: #161e39;
    font-size: 18px;
    font-weight: 700;
  }

  .custom-feature-cards .custom-feature-carddescription {
    color: #515457;
    font-size: 15px;
    line-height: 24px;
  }

  .custom-experts {
    grid-template-columns: 1fr !important;
    gap: 30px !important;
    margin: 5% 0 6% !important;
  }

  .custom-experts > div {
    grid-template-columns: 1fr !important;
    gap: 20px;
  }

  .custom-experts-image {
    height: auto;
  }

  .custom-experts-content h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .custom-experts-content-subtitle {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .custom-experts-content-description {
    font-size: 14px;
    line-height: 22px;
    margin: 15px 0 20px;
    max-width: 100%;
  }

  .custom-experts-content-button-wrapper {
    margin: 0;
  }

  .custom-experts-content-button-wrapper .custom-experts-content-button {
    font-size: 13px;
  }

  .about-section {
    padding: 50px 0;
  }

  .about-section .custom-about {
    grid-template-columns: 1fr;
    gap: 35px;
  }

  .about-section .custom-about .custom-about-content {
    grid-column: 1;
    max-width: 100%;
  }

  .about-section .custom-about .custom-about-content-label {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .about-section .custom-about .custom-about-content-title {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .about-section .custom-about .custom-about-content-description {
    font-size: 14px;
    line-height: 24px;
  }

  .about-section .custom-about .custom-about-content .custom-about-content-feature {
    grid-template-columns: 55px 1fr;
    column-gap: 15px;
    margin: 20px 0 0;
  }

  .about-section .custom-about .custom-about-content .custom-about-content-feature-icon-wrapper {
    width: 55px;
    height: 55px;
    min-width: 55px;
  }

  .about-section .custom-about .custom-about-content .custom-about-content-feature-icon-wrapper .icon {
    width: 35px;
    height: 22px;
  }

  .about-section .custom-about .custom-about-content .custom-about-content-feature-icon-wrapper-icon {
    width: 35px;
    height: 22px;
  }

  .about-section .custom-about .custom-about-content .custom-about-content-feature .custom-about-content-feature-content .custom-about-content-feature-title {
    font-size: 16px;
    margin: 5px 0 10px;
  }

  .about-section .custom-about .custom-about-content .custom-about-content-feature .custom-about-content-feature-content .custom-about-content-feature-description {
    font-size: 14px !important;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .about-section .custom-about .custom-about-image {
    grid-column: 1;
  }

  .about-section .custom-about .custom-about-image-picture {
    width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=teaser.css.map */